<div id="title">
  <% if $error %>
    <h1> <%= $error %> </h1>
  <% else %>
    <h1>Find out what people have been writing about you.</h1>
  <% end %>
</div>

<form action="/reviews" method="get" id="search">
  <h5>Please select your city:</h5>
  <input type="text" name="location" id="location" value="Toronto" required>
  <h5>Type in the name of a restaurant:</h5>
  <input type="text" name="term" id="term" required>
  <input type="submit" value="Search">
</form>