<h1>Restaurants in <%= @city %></h1>
<%= link_to "Add a restaurant", new_restaurant_path %>

<hr>

<h5>Choose a restaurant:</h5>

<form action="/search" method="get">
  <input type="text" list="restaurants" name="restaurant">
    <datalist id="restaurants">
      <% @restaurants.each do |restaurant| %>
        <option value="<%= restaurant.name %>"></option>
      <% end %>
    </datalist>
  <input type="submit">
</form>