<% if $error %>
  <h1> <%= $error %> </h1>
<% else %>
  <h1>Welcome</h1>
<% end %>

<h5>Please select your city:</h5>
<%= form_tag("/restaurants/new", method: "get") do %>
  <%= select_tag(:city, options_for_select(['Toronto'])) %>
<h5>Search for a restaurant or bar:</h5>
  <input type="text" name="restaurant">
  <%= submit_tag("Go") %>
<% end %>

<div id="results">
</div>