<div id="banner"></div>
<div class="container">

<div id="title">
  <h1><em>snap*</em></h1>
    <h3>See what the people are saying.</h3>
</div>

  <% if $error %>
  <div id="error-message">
    <h3> <%= $error %> </h3>
  </div>
  <% end %>

<form action="/reviews" method="get" id="search">
  <h5>Find your restaurant:</h5>
  <input type="text" name="term" id="term" required>
  <input type="submit" class="button-primary" value="Search">
</form>
</div>