<div id="banner"></div>
<div class="container">
<div id="title">
  <h1><em>Snap</em></h1>
  <% if $error %>
    <h3> <%= $error %> </h3>
  <% else %>
    <h3>See what the people are saying.</h3>
  <% end %>
</div>

<form action="/reviews" method="get" id="search">
  <h5>Find your restaurant:</h5>
  <input type="text" name="term" id="term" required>
  <input type="submit" class="button-primary" value="Search">
</form>
</div>