<div id="title">
  <h1>Gen<span class="fade">erate</span></h1>
  <h1>Agg<span class="fade">regate Reviews</span></h1>
</div>

<div id="hello" class="fade">
  <% if $error %>
    <h3> <%= $error %> </h1>
  <% else %>
    <h3>Read what people have been saying about you.</h1>
  <% end %>
</div>

<form action="/reviews" method="get" id="search">
<!--   <h5>Please select your city:</h5>
  <input type="text" name="location" id="location" value="Toronto" required> -->
  <h5>Find your restaurant:</h5>
  <input type="text" name="term" id="term" required>
  <input type="submit" class="button-primary" value="Search">
</form>