body {
  margin: 0;
  min-height: 500px;
}

li {
  display: inline-block;
  list-style: none;
}

#back {
  color: #1EAEDB;
  font-size: 2rem;
  margin-bottom: 40px;
}

#banner img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#banner {
  background-image: image-url('banner1.jpg');
  height: 350px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#blurb {
  clear: both;
  color: #1EAEDB;
  font-weight: 700;
}

#error-message h3 {
  font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
  margin-bottom: 0;
}

#error-message {
  background-color: rgba(255,0,0,0.6);
  border-radius: 5px;
  color: black;
  padding: 15px;
  position: absolute;
  top: 220px;
  z-index: 12;
}

#front-logos img {
  margin-right: 25px;
}

#front-logos {
  width: 100%;
}

#hello {
  clear: both;
  position: relative;
  top: 40px;
}

#loading {
  display: none;
  text-align: center;
  width: 100%;
}

#logos img {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 40px;
}

#logos {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  width: 200px;
}

#restaurant {
  width: 300px;
}

#restaurant-info div {
  display: inline-block;
  text-align: left;
}

#restaurant-info h1 {
  color: #1EAEDB;
  margin-bottom: -10px;
}

#restaurant-info h4 {
  margin-bottom: -10px;
}

#restaurant-info {
  margin-bottom: 60px;
  text-align: center;
}

#results {
  display: inline-block;
}

#reviews {
  float: right;
  margin-top: 50px;
  padding-right: 5%;
}

#scroll-links h6 {
  margin-top: 20px;
}

#search {
  display: inline-block;
}

#sidebar {
  background: black;
  color: #666666;
  float: left;
  height: 100%;
  padding: 35px;
  position: fixed;
  text-align: center;
}

#spacer {
  height: 200px;
  margin-top: 100px;
  width: 100%;
}

#term {
  width: 300px;
}

#title {
  color: #1EAEDB;
  float: left;
  font-weight: 700;
  font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
  font-size: 900%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.container {
  text-align: center;
}

.date {
  float: left;
}

.full-text {
  display: none;
}

.more {
  clear: both;
  text-align: left;
}

.morecontent span {
  display: none;
}

.morelink {
  display: block;
  text-align: center;
}

.rating {
  float: right;
}

.review img {
  display: inline-block;
}

.review {
  text-align: center;
}

.show {
  display: block;
}

.show-text {
  cursor: pointer;
}

@media(max-width: 720px) {
  li {
    display: list-item;
  }
  
  #restaurant-info {
    margin-bottom: auto;
  }
  
  #reviews {
    padding-left: 5%;
  }
  
  #search {
    margin-top: 50px;
  }
  
  #sidebar {
    position: static;
  }
  
  #spacer {
    height: auto;
    margin-top: -20px;
  }
  
  #title {
    margin-top: 0;
  }
}
