body {
  margin: 0px;
}

#footer {
  clear:both;
  width: 100%;
}

#sidebar {
  float: left;
  height: 100%;
  background: black;
  position: absolute;
}

#content {
  float: right;
}

#error-message {
  position: absolute;
  z-index: 12;
  top: 30px;
  background-color: rgba(232,78,78,0.75);
  padding: 15px;
  border-radius: 5px;
}

#error-message h3 {
  margin-bottom: 0px;
  font-family: helveticaneue;
}

#hello {
  clear:both;
  position: relative;
  top: 40px;
}

#title {
  text-align: left;
  position: absolute;
  top: 30px;
  font-family: HelveticaNeue;
  color: #1EAEDB;
}

#title h1 {
  font-weight: 700;
  font-size: 14.0rem;
}

#title h3 {
  font-weight: 700;
  margin: 30px 170px;
  color: #f2f2f2;
}

#title h1:first-child {
  margin-bottom: -10px;
}

#banner {
  height: 350px;
  width: 100%;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  background-image: image-url('banner1.jpg');
}

#banner img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.container {
  text-align: center;
}

#term {
  width: 300px;
}

#search {
  display: inline-block;
  position: relative;
  top: 400px;
}

#results {
  display: inline-block;
}

.show-text {
  cursor: pointer;
}

.full-text {
    display: none;
}

.show {
  display:block;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
    text-align: center;
}

.more {
  text-align: left;
  clear:both;
}

#restaurant-info {
  float:left;
  width:50%;
  text-align: left;
}


#restaurant-info h1 {
  color: #1EAEDB;
  margin-bottom: -10px;
}

#restaurant-info h4 {
  margin-bottom: -10px;
}

#reviews {
  float: right;
  padding-right: 5%;
}

.date {
  float: left;
}

.rating {
  float: right;
}
