#title {
  margin-bottom: 60px;
}

#search {
  float: left;
  display: inline-block;
}

#results {
  display: inline-block;
}

.reviews {
  
}

.show-text {
  cursor: pointer;
}

.full-text {
    display: none;
}

.show {
  display:block;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

#restaurant-info {
  float:left;
  width:50%;
}

#reviews {
  float: right;
  width: 50%;
}

.container {
  padding: 60px;
}